
/*common css start*/

body{
margin: 0;
font-family: "Playfair Display", serif;
font-size: 16px;
font-weight: 400;
color:#626262;
}
/*common css end*/
/*header start*/
header{
	padding: 50px 0;
	
}
.container{
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
	
}
.logo{
	float: left;
	width: 10%;
	
}
.logo a{}
.width100{
	width: 100%;
}
.menu{
	margin-top:8px;
	float: right;
	width: 65%;
	
}
.menu ul{
	margin: 0;
	float: right;
	List-style: none;
}
.menu ul li{
	float: left;	
}
.menu ul li a{
	margin: 0 40px;
	display: inline-block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	transition: linear .33s;
}

.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom:1px solid #626262;
}
/*header end/
/*banner start*/
.banner{}
.banner_img{}
.banner_img img{}
/*banner end*/
/*article start*/
.article{
	padding: 100px 0 20px;
}
.container2{
	overflow: hidden;
	margin: 0 auto;
	width: 80%;
	/*border: 1px solid red;*/

}
.light{
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;

}
.title{
	margin: 15px 0 25px;
	font-size: 30px;
	font-weight: 400;
}
.text{
	margin: 0;
	line-height: 24px;
}
.a_link{
	margin-top: 40px;
	display: inline-block;
	text-decoration: none;
	color: #626262;
}
/*article end*/
/*blog start*/
.blog{
	padding: 0 0 100px;
}
.blog_item{
	margin-top: 80px;
	box-sizing: border-box;
	float: left;
	width: 47%;
	
}
.blog_img{
	margin-bottom: 15px;
}
.blog_item:nth-child(even){
	margin-left: 6% ;
}
/*blog end*/
/*newsletter start*/
.news{
	background-color: #f0f0f0;
	padding: 100px 0;
}
.signup{
text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	position: relative;
	width: 400px;
	margin: 0 auto;
}
.s_form input{
	font-family: "Playfair Display", serif;
	font-size: 14px;
	color:#626262;
	width: 345px;
	height: 45px;
	border:none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding-left:5px ;
	padding-right:45px ;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background: transparent;
	border: none;
	cursor: pointer;
	top:15px;
	right:0;
}
.s_form button:focus{
	outline: 0;	
}
.s_form button img{}
/*newsletter end*/
/*blog2 start*/
.blog2{
	padding-top: 20px;
}
.load{
	padding: 100px 0 0;
	text-align: center;
}
.l_btn{
	padding: 16px 33px ;
	background-color: transparent;
	border: 1px solid #626262;
	font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    transition: linear .33s;
}
.l_btn:hover{
background-color: #626262;
color: white;
}
/*blog2 end*/
/*footer start*/
footer{
	padding: 50px 0;
	background-color: #f0f0f1;
}
.f_left{
width: 30%;
float: left;
}
.f_left ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
	List-style:none;
}
.f_left ul li, .f_right ul li{
	float: left;
}
.f_left ul li a{
	margin-right: 15px;
	display: inline-block;
	text-decoration: none;
	color: #000000;
}
.f_right{
width: 30%;
float: right;
}
.f_right ul{
	float: right;
	margin: 0;
	padding: 0;
	List-style:none;
}

.f_right ul li a{
	margin-right: 15px;
	display: inline-block;
	text-decoration: none;
}
.f_right ul li span{
	margin-right: 15px;
	display: inline-block;
	color: #000000;

}
.f_right ul li:last-child a{
	margin-right: 0;
}
/*footer end*/